
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    border-radius: 8px;
  }
  

  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 900;
  }

  .inputBox {
    margin-bottom: 15px;
    

  }
  
  .inputBox label {
    display: block;
    margin-bottom: 5px;
    font-weight: 200;
  }
  
  .inputBox input,
  .inputBox select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 10px;
  }
  

  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  .flex .inputBox {
    width: 48%;
  }
  
  
  .submit_btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit_btn:hover {
   
    background-color: #4c56af;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .flex {
      flex-direction: column;
    }
    
    .flex .inputBox {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  

  .toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast-content {
    display: flex;
    align-items: center;
}

.toast-content img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.toast-message {
    text-align: left;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin: 0 0 20px 0;
    }
 }

